.stepper {
  width: 100%;
  padding: 18px 0;
}

.stepper__track {

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.stepper__item {
  position: relative;
  display: flex;
  align-items: center;
}

.stepper__circle {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  border: 2px solid #ddd;
  background: #fff;
  display: grid;
  place-items: center;
  font-size: 12px;
  font-weight: 700;
  
}

.stepper__circle--todo {
  border-color: #e6e6e6;
  background: #f2f2f2;
}

.stepper__circle--active {
  border-color: #db4141;
  background: #fff;
}

.stepper__circle--done {
  border-color: #db4141;
  background: linear-gradient(180deg, #E84747 0%, #db4141 100%);  
  color: #fff;
}

.stepper__label {
  margin-left: 1px;
  position: absolute;
  top: 40px;
  left: 15%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  color: #888;
  white-space: nowrap;
}

.stepper__label--active,
.stepper__label--done {
  color: #333;
}

.stepper__line {
  width: 90px;
  height: 2px;
  background: #e6e6e6;
  margin: 0 10px;
}

.stepper__line--done {
  background: linear-gradient(180deg, #E84747 0%, #db4141 100%);  
}

.stepper__label--ajustado{
  margin-left: 10px
}

